/* .skills-section{
    padding-top:4rem;
    padding-bottom: 3rem;
    overflow-x: hidden;
} */
.card-item{
    color: rgb(12, 100, 12);
}
.card-item-two{
    color:rgb(160, 65, 10)
}
.card-bg{
    background-color:rgba(125, 125, 145, 0.767);
}
.card-title-style{
    font-weight:bold;
}

@media (max-width: 768px){
    .skills-section{
        padding-top: 0rem;
    }
}
