.about-img{
    padding-top:12.5rem;
}
.about-section{
    overflow-x:hidden;
}
.about-description{
    margin-top:2rem;
}
html{
    scroll-behavior: smooth;
}
@media (max-width:768px) {
    .about-description{
        /* margin-top: 0rem; */
        padding-top: 0rem;
    }
}